<!-- html section for home page--> 
   
  <div class="container">
    <div class="jumbotron"  >
      <!-- welcome message and content--> 
        <h6 class="display-4" ><b>Hello everyone, I am!</b></h6>   
        <div class="display-2" ><b><b>Divya Nair<b></b></div>  <br>
            <p style = "text-align :center; font-size:20px"><b> Software Engineer | Web Developer <b></p>
            <br>
            <p class="" style="text-align:justify; font-family: calibri; font-size:20px">Experienced Software Developer with a demonstrated history of working in IT with leading companies. Skilled in developing Ecommerce web applications using SAP hybris, Java, Spring, HTML, CSS, Javascript and database languages- SQL, MySQL, HSQL, Oracle. Strong engineering professional with an Engineer’s Degree focused in Computer Science and Engineering. Highly desired and motivated to pursue higher education in the field of Artificial Intelligence as I have always been fascinated about adaptive and intelligent systems. Artificial Intelligence being the driver of many emerging  technology, I want to dive deep in this field to have sufficient knowledge and hands-own experience inorder to be a succesfull AI developer. </p>
            <br> <br>
            <div clas="" style ="text-align: center" >
              <a href="/about" style="color:#000; text-decoration:underline;"><b>About Me</b></a> &nbsp;
              <a href="/projects" style="color: #000 ; text-decoration:underline;"><b>Projects</b></a>&nbsp;
              <a href="/services" style="color: #000 ; text-decoration:underline;"><b>Services</b></a>&nbsp;
              <a href="/contact" style="color: #000  ;text-decoration:underline;"><b>Contact Me</a> &nbsp;
              </div>
      

    </div>
  </div>
